.row
  .col-md-8
    %h2
      = @vacancy.name
    %p
      Действительна до:
      = @vacancy.valid_till
    %p
      Предлагаемая зарплата
      = @vacancy.salary
    %p Контактная информация
    %p
      = @vacancy.contacts
    %h3 Требуемые умения
    = render @vacancy.abilities, object_name: 'vacancy', object: @vacancy, action: 'view'

    %p
      = link_to 'Редактировать', edit_vacancy_path(@vacancy)
      = link_to 'Назад', vacancies_path