#abilitiesModal.modal.fade
  .modal-dialog{role: 'document'}
    .modal-content
      .modal-header
        %h2.modal-title Cписок умений:
      .modal-body
        = render 'abilities/abilities', object: object, action: 'view'
        %h4 Новое умение:
        = form_for Ability.new, html: { class: 'new-comment-form' }, remote: true do |f|
          .new-ability-errors
          -#= f.label :name, 'Название:'
          = f.text_field :name, id: 'new-ability-name'
          = f.submit 'Добавить', class: 'btn btn-primary'
      .modal-footer
        = button_tag 'Закрыть', type: 'button', id: 'closeAbilitiesModal',class: 'btn btn-default', data: {dismiss: 'modal'}
        -#= button_tag 'Сохранить', type: 'button', class: 'btn btn-primary'